h1 {
  color: black;
  text-align: center;
  font-size: 25px;
  font-family: "Comfortaa", cursive;
  padding: 10px 50px;
  border: 2px solid #88bbd6;
  border-radius: 10px;
  max-width: 700px;
  background-color: white;
  margin: 10px auto;
  box-shadow: 6px 6px 6px rgba(209, 206, 208, 1);
}

#date-now {
  color: black;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(209, 206, 208, 1);
  border: 2px solid #88bbd6;
  padding: 15px;
  text-align: center;
  font-size: 24px;
  font-family: "Balsamiq Sans", cursive;
  margin: 25px 0px;
  background: white;
}

body {
  background: whitesmoke;
  padding: 20px 150px 70px 150px;
  justify-content: center;
  background-image: url("../images/neighborhood.svg");
  background-repeat: no-repeat;
  background-size: 1200px;
  background-position: bottom;
  margin: 20px 0px 30px 0px;
}

.container-top {
  border: 2px solid #88bbd6;
  padding: 30px 50px 15px 50px;
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 6px 6px 6px rgba(209, 206, 208, 1);
  border-radius: 10px;
}

/* .container-bottom {
  background-color: white;
  max-height: 250px;
  margin-bottom: 20px;
}

.forecast-days {
  padding: 20px 5px;
} */

.row-1 {
  text-align: center;
  font-weight: bold;
}

.row-2 {
  text-align: center;
}

.card {
  text-align: center;
}

.card-subtitle {
  font-size: 18px;
  font-family: "Comfortaa", cursive;
}

.emoji {
  font-size: 30px;
}

.card-text {
  font-size: 18px;
  font-family: "Balsamiq Sans", cursive;
}

#code-link {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: "Balsamiq Sans", cursive;
}

#search {
  font-size: 14px;
}

#current-location-button {
  font-size: 14px;
}

#weather-icon {
  display: block;
  margin: 0 auto;
}

#city-name {
  font-weight: bold;
  font-size: 26px;
  font-family: "Comfortaa", cursive;
  background: #88bbd6;
  box-shadow: 3px 3px 3px rgba(209, 206, 208, 1);
}

#weather-description {
  text-transform: capitalize;
}

#right-top-box {
  height: 115px;
  border: 2px solid #88bbd6;
  margin-bottom: 20px;
  padding: 20px;
}

#right-bottom-box {
  height: 115px;
  border: 2px solid #88bbd6;
  padding: 20px;
}

#city-box {
  border: 2px solid #88bbd6;
  height: 250px;
  padding: 20px;
}

#temp-now {
  font-size: 22px;
  font-weight: bold;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

#temp-high-now {
  font-size: 18px;
}

#temp-low-now {
  font-size: 18px;
}

#wind {
  font-size: 18px;
}

#humidity {
  font-size: 18px;
}

.forecast-spacing {
  padding: 0px 3px;
}

.forecast-days {
  border: 2px solid #88bbd6;
}

#note {
  font-size: 15px;
}
